@page "~/manager/spamdetector"
@model SpamDetectorConfigModel
@inject IAuthorizationService Auth
@inject ManagerLocalizer ManagerLocalizer
@inject SpamDetectorLocalizer SpamDetectorLocalizer
@{
    ViewBag.Title = SpamDetectorLocalizer.Config["SpamDetector Config"];   
    ViewBag.MenuItem = "spamdetector";
}
@section script
{
    <script src="~/manager/assets/js/zon3.spamdetector.js"></script>
}

<div id="spamdetector">
    <div class="top">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">@ManagerLocalizer.Menu["System"]</li>
                <li class="breadcrumb-item active" aria-current="page">SpamDetector</li>
            </ol>
        </nav>

        <div class="container-fluid">
            <div class="top-nav">
                @foreach (var menuAction in Zon3.SpamDetector.Actions.GetFor.SpamDetectorConfigEdit)
                {
                    <partial name="@menuAction.ActionView" />
                }
            </div>
        </div>
    </div>

    <div class="container-fluid mb-3 app" :class="{ ready: !loading }">
        <div class="card">
            <div class="card-header">
                <span class="title">@SpamDetectorLocalizer.Config["API config"]</span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">@SpamDetectorLocalizer.Config["Module enabled"]</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["If the SpamDetector module should review comments to detect spam."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <button v-on:click.prevent="model.enabled = !model.enabled" class="switch switch-lg" :aria-pressed="model.enabled"><span></span></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">@SpamDetectorLocalizer.Config["Test mode"]</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["If the SpamDetector module should be in test mode."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <button v-on:click.prevent="model.isTest = !model.isTest" class="switch switch-lg" :aria-pressed="model.isTest"><span></span></button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">@SpamDetectorLocalizer.Config["API URL"]</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["The full URL to the API to use for spam detection."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <input v-model="model.spamApiUrl" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="title">@SpamDetectorLocalizer.Config["Site config"]</span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">Site URL</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["The full URL to the site sending comments for review to the API."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <input v-model="model.siteUrl" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">
                                    @SpamDetectorLocalizer.Config["Site languages"]</strong>
                                        <span class="text-secondary">
                                            @SpamDetectorLocalizer.Config["The languages (comma separated) of the site and the comments sent for review to the API."]
                                        </span>
                            </div>
                            <div class="col-md-4">
                                <input v-model="model.siteLanguage" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">@SpamDetectorLocalizer.Config["Site encoding"]</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["The encoding of the comment fields sent for review to the API."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <input v-model="model.siteEncoding" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row align-items-end">
                            <div class="col-md-8">
                                <strong class="d-block">@SpamDetectorLocalizer.Config["User role"]</strong>
                                <span class="text-secondary">
                                    @SpamDetectorLocalizer.Config["Name of the user role that can submit comments to the site."]
                                </span>
                            </div>
                            <div class="col-md-4">
                                <input v-model="model.userRole" class="form-control" type="text">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <partial name="Partial/_SpamDetectorInfo" />
</div>